<style>
  .sidebar ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 0.5em;
    border-radius: 0.25em;
    background-color: #f8f9fa;
  }

  .sidebar ul li a:hover,
  .sidebar ul li.active a {  /* Add this line to ensure the active link gets styled */
    background-color: #2d4739; /* Change this to your preferred green color */
    color: #fff;
  }
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <div class="logo">
        HEAVEN
        <span class="interior">INTERIOR</span>
      </div>
      <a  href="/adminPanel/logout"  class="btn btn-outline-danger btn-search">Log Out</a>
    </div>
</nav>

<div class="sidebar">
  <ul>
    <li><a href="/adminPanel/dashboard" class="<%= (body === 'admin/dashboard') ? 'active' : '' %>">Dashboard</a></li>
    <li><a href="/adminPanel/orders" class="<%= (body === 'admin/orderAdmin') ? 'active' : '' %>">Orders</a></li>
    <li><a href="/adminPanel/products" class="<%= (body === 'admin/products') ? 'active' : '' %>">Products</a></li>
    <li><a href="/adminPanel/category" class="<%= (body === 'admin/category') ? 'active' : '' %>">Category</a></li>
    <li><a href="/adminPanel/customers" class="<%= (body === 'admin/customers') ? 'active' : '' %>">Customers</a></li>
    <li><a href="/adminPanel/coupons" class="<%= (body === 'admin/coupons') ? 'active' : '' %>">Coupons</a></li>
    <li><a href="/adminPanel/offers" class="<%= (body === 'admin/offers') ? 'active' : '' %>">Offers</a></li>
  </ul>
</div>
